/* Set the background color of the entire page */
body {
    background-color: #333333; /* Dark gray 333333*/
    color: #f0f0f0; /* Default font color - FFFFFF = off white: f0f0f0 */
    font-family: 'Kanit', sans-serif;
}

/* Link Text Styling */
a {
    color: #00bcd4; /* Dodger blue color for links */
    text-decoration: none; /* Optional: removes underline from links */
}
a:hover {
    text-decoration: underline; /* Optional: adds underline on hover for links */
}

/* Header Styling (Travel Destinations) */
h1{
    background-color: #2c2c2c; /* Slightly lighter gray for the header */
    color: #FFD700;  /* Gold color for headings: FFD700 */
    font-family: 'PT Serif', serif;
}

/* Styling for sub-header's h2 (Faroe Islands) */
h2{
    color: #f0f0f0;  /*  */
}

/* Styling for sub-sub-header's h2 (not used yet) */
h3 {
    color: #f0f0f0;  /*  */
}

/* Existing styles */
.destination {
    display: flex;
    margin-bottom: 10px;
    margin-left: 30px;
    align-items: left;
}

.info {
    margin-left: 20px;
    margin-right: 15px;
    /*flex: 1; /* This will make the .info block fill the space and push the image to the end */
}


/* Additional .info styling to account for icon
.info p {
    display: flex;
    align-items: center;
    gap: 0.5em;  Optional: adds space between icon and text */
}


.image {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.icon {
    height: 1em; /* Adjust size to match text */
    width: auto;
    fill: white; /* Sets the color of the SVG */
    vertical-align: middle; /* Aligns the icon with the text */
}
