/* Set the background color of the entire page */
body {
    background-color: #333333; /* Dark gray */
    color: #f0f0f0; /* Default font color - FFFFFF = off white: f0f0f0 */
}

/* Header styling
header {
    background-color: #2c2c2c; /* Slightly lighter gray for the header
    color: #FFD700; /* Text color for the header - white for contrast
} */

a {
    color: #00bcd4; /* Dodger blue color for links */
    text-decoration: none; /* Optional: removes underline from links */
}

a:hover {
    text-decoration: underline; /* Optional: adds underline on hover for links */
}

/* Styling for header h1 (Travel Destinations) */
h1{
    background-color: #2c2c2c; /* Slightly lighter gray for the header */
    color: #FFD700;  /* Gold color for headings */
}

/* Styling for sub-header's h2 (Faroe Islands) */
h2{
    color: #f0f0f0;  /*  */
}

/* Styling for sub-sub-header's h2 (not used yet) */
h3 {
    color: #f0f0f0;  /*  */
}

/* Continue styling other elements as needed, ensuring they contrast well with the dark background */

/* Existing styles */
.destination {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info {
    margin-right: 20px;
}

.image {
    width: 150px;
    height: 100px;
    object-fit: cover;
}
